/files/designhelper
/files
/.DS_Store
/HealthDemo.v12.suo
/HealthDemo.userprefs
/HealthDemo/HealthDemo/obj
/HealthDemo/HealthDemo/bin
/HealthDemo/HealthDemo.Android/obj
/HealthDemo/HealthDemo.Android/bin
/HealthDemo/HealthDemo.iOS/obj
/HealthDemo/HealthDemo.iOS/bin
/HealthDemo/HealthDemo.WinPhone
/HServer/HServer.v12.suo
/HServer/HServer.v11.suo
/HServer/HServer/obj
/HServer/HServer/bin
/HServer/HServer/HServer.csproj.user
